@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@font-face {
    font-family: "Broadway"; 
    src: url(../fonts/ufonts.broadway.ttf); 
   }
   
body {
    font-family: 'Press Start 2P', cursive;
    max-width: 1200px;
    margin:auto
}

nav {
    position: relative;
    overflow: hidden;
    background-color: white;
    top: +20px;
    left:5px; 
    display: inline;

}

nav a {
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin: 10px;
    
}

nav a:hover {
    color: rgb(250, 210, 224);
    background-color: white;
    text-decoration: none;
}

.first-form {
  float: right;
  position: relative;
  width: 270px;
  margin: 0 auto;
  height: 21px;
  top: +18px;
  right: 5px;
  
}


.first-input {
  font-family: 'Press Start 2P', cursive;
  width: 250px;
  height: 15px;
  border: 3px solid;
  border-radius: 20px;
  background: white;
  outline: none;
  position: relative;
  transition: .3s linear;
  
}


.first-input:focus {
  font-family: 'Press Start 2P', cursive;
  font-size: 17px;
  width: 200px;
  height: 20px;
  border-radius:30px;
  border-color: rgb(250, 210, 224);
  color:rgb(250, 210, 224);
}

.pink-grillz {
    display:block; 
    margin:25px auto 25px;
    margin-top: +50px;
    justify-content: center;
    
}


header {
  line-height:2;
  margin-top:-65px;
}


.euq {
font-size: 25px;
  float: right;
  position: relative;
}

.lov {
  font-size: 50px;
  position: relative;
  left: 375px;
 letter-spacing: 50px;

}

.gra {
  font-size: 25px;
position: relative;
left: 20px;
}

.kasaj {
    margin-top: +75px;
    left: 50px;
    position: relative;
}

#first {
   font-size: 17px;
   position:relative;
   left: 205px; 
   top: -130px;
   text-align:left;
}

